@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;500;600;700&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", sans-serif;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

body {
  overflow: hidden;
}

.block {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #46965c;
}

.pixel-art {
  image-rendering: pixelated;
}
