.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floatMenu {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  margin: 5px;
  background-color: rgb(80, 150, 225);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.iconsOrderWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100px;
}

.toolWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.resourceCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-width: 400px;
}

.image {
  width: 40px;
}

.text {
  font-weight: 900;
  font-size: 14px;
}

.textGreen {
  color: green;
}

.sprite {
  image-rendering: pixelated;
}

.storeButtons {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
  gap: 8px;
}

.orderWrapper {
  display: flex;
  gap: 8px;
}

.orderCard,
.orderCardDisabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 4px;

  padding: 20px;
  margin: 5px;
  background-color: rgb(225, 204, 80);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.orderCard2,
.orderCardDisabled2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 4px;

  padding: 20px;
  margin: 5px;
  background-color: rgb(225, 204, 80);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.orderCardDisabled {
  opacity: 0.5;
}

@keyframes chop {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.spriteChopCharacterMoving {
  image-rendering: pixelated;
  animation: chop 500ms steps(4) infinite;
}

.spriteChopCharacterStop {
  image-rendering: pixelated;
}

.scenary {
  margin: 100px 150px 0;
  position: relative;
  height: 600px;
  width: 800px;
}

/* ========================= GRASS */

.moreGrassInScenary0 {
  position: absolute;
  bottom: 200px;
  left: -200px;
}

.moreGrassInScenary1 {
  position: absolute;
  bottom: 100px;
  left: 300px;
}

.moreGrassInScenary2 {
  position: absolute;
  bottom: 400px;
  left: 100px;
}

.grassInScenary0 {
  position: absolute;
  left: 320px;
  bottom: 23px;
}
.grassInScenary1 {
  position: absolute;
  left: 220px;
  bottom: 43px;
}
.grassInScenary2 {
  position: absolute;
  left: 420px;
  bottom: 18px;
}
.grassInScenary3 {
  position: absolute;
  left: 520px;
  bottom: 11px;
}
.grassInScenary4 {
  position: absolute;
  left: 160px;
  bottom: 23px;
}
.grassInScenary5 {
  position: absolute;
  left: 120px;
  bottom: 2px;
}

/* ================================= BAD */

.badInScenary {
  position: absolute;
  left: 320px;
  bottom: 223px;
}

.bad2InScenary {
  position: absolute;
  left: 420px;
  bottom: 223px;
}

.characterInScenaryResting {
  position: absolute;
  left: 352px;
  bottom: 274px;
}

.workerInScenaryResting {
  position: absolute;
  left: 452px;
  bottom: 274px;
}

.houseInScenary {
  z-index: -1;
  position: absolute;
  left: 298px;
  bottom: 24px;
}

.characterInScenary {
  position: absolute;
  left: 174px;
  bottom: 10px;
}

.workerInScenary {
  position: absolute;
  left: 274px;
  bottom: 10px;
}

/* ===================== TREE */

.treeInScenary {
  position: absolute;
  left: -80px;
  bottom: 20px;
}

.characterInScenaryChoping {
  position: absolute;
  left: 60px;
  bottom: 60px;
}

.workerInScenaryChoping {
  position: absolute;
  left: -30px;
  bottom: 10px;
}

/* ===============   STONE */

.stoneInScenary {
  position: absolute;
  left: 600px;
  bottom: -10px;
}

.characterInScenaryMining {
  position: absolute;
  left: 608px;
  bottom: 72px;
}

.workerInScenaryMining {
  position: absolute;
  left: 792px;
  bottom: 82px;
}

.actionButtons {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.staminaWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.staminaBar {
  display: flex;
  width: 150px;
  height: 14px;
  background-color: rgb(160, 160, 160);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.stamina {
  display: flex;
  width: 100%;
  height: 14px;
  background-color: rgb(255, 217, 0);
}
