.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floatMenu {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  margin: 5px;
  background-color: rgb(80, 150, 225);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.toolWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.resourceCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-width: 400px;
}

.image {
  width: 40px;
}

.text {
  font-weight: 900;
  font-size: 14px;
}

.textGreen {
  color: green;
}

.sprite {
  image-rendering: pixelated;
}

.storeButtons {
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px;
  gap: 8px;
}

.orderWrapper {
  display: flex;
  gap: 8px;
}

.orderCard,
.orderCardDisabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 4px;

  padding: 20px;
  margin: 5px;
  background-color: rgb(225, 204, 80);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.orderCardDisabled {
  opacity: 0.5;
}

@keyframes chop {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.spriteChopCharacterMoving {
  image-rendering: pixelated;
  animation: chop 500ms steps(4) infinite;
}

.spriteChopCharacterStop {
  image-rendering: pixelated;
}

.scenary {
  margin: 100px 150px 0;
  position: relative;
  height: 400px;
  width: 800px;
  border-bottom: 100px solid green;
  box-shadow: inset 0px -40px 0 rgb(77, 212, 53);
}

.badInScenary {
  position: absolute;
  left: 298px;
  bottom: -12px;
}

.treeInScenary {
  position: absolute;
  left: -80px;
  bottom: -10px;
  width: 250px;
  height: 345px;
}

.stoneInScenary {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 180px;
  height: 125px;
}

.characterInScenary {
  position: absolute;
  left: 174px;
  bottom: 10px;
}

.characterInScenaryResting {
  position: absolute;
  left: 340px;
  bottom: 0px;
}

.characterInScenaryChoping {
  position: absolute;
  left: 60px;
  bottom: 10px;
}

.workerInScenaryMining {
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.characterInScenaryMining {
  position: absolute;
  right: 134px;
  bottom: 10px;
}

.actionButtons {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.staminaWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.staminaBar {
  display: flex;
  width: 150px;
  height: 14px;
  background-color: rgb(160, 160, 160);
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.stamina {
  display: flex;
  width: 100%;
  height: 14px;
  background-color: rgb(255, 217, 0);
}
